main {
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    background-color: salmon;
}

article {
    position: relative;
    width: 75%;
    background-color: #fff;
}

aside {
    position: relative;
    background-color: #fff;
    width: 30%;
    margin-top: 250px;
}

aside .topAside {
    display: block;
    border-top: 1px solid #ccc;
    padding: 16px 0 25px;
    margin: 0 auto;
}

aside .topAside .title {
    display: block;
    margin-bottom: 15px;
}

aside .topAside .title img {
    width: 20px;
    margin-right: 16px;
}

aside .topAside .title span {
    color: #777;
    font-size: small;
}

aside .topAside .content {
    line-height: 1;
}

aside .topAside ul li a {
    text-decoration: none;
}

article h1 {
    font-size: 34px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 50px auto 20px;
}

main ul {
    list-style: none;
}

main article ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

main article ul li i {
    margin: 5px;
    font-size: 30px;
    border-radius: 12px;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-flipboard {
    color: red;
}

.fa-envelope {
    color: rgba(0, 124, 0, 0.692);
}

main article figure {
    margin: 0;
}

main article figure img,
main article video {
    width: 100%;
}